.error-toast {
  position: absolute;
  bottom: $spacing-xl;
  right: $spacing-sm;
  z-index: 9999;
  background-color: $red-light-100;
  padding: $spacing-sm $spacing-m;
  border-radius: $border-radius-sm;
  max-width: 400px;
  display: flex;
  align-items: center;
  gap: $spacing-m;

  .toast__content {
    @include label-medium;
    color: $red-dark-100;
  }

  button {
    flex-shrink: 0;
    color: $red-dark-100;
  }
}
