.search-bar {
  position: absolute;
  z-index: 9999;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: $spacing-m;

  .search-bar__input {
    height: 44px;
    width: 400px;
    padding: $spacing-sm $spacing-m;
    border-radius: $border-radius-sm;
    border: 1px solid $color-border-dark;
  }

  .search-bar__button {
    @include label-small;
    height: 44px;
    background-color: $color-background-secondary;
    color: $color-text-white;
    padding: $spacing-sm $spacing-l;
  }
}