.population-modal {
  position: absolute;
  top: 10px;
  left: 60px;
  z-index: 9999;
  background-color: white;
  padding: $spacing-xl;
  border-radius: $border-radius-m;
  display: flex;
  flex-direction: column;
  gap: $spacing-m;

  .modal__title {
    @include heading-large;
  }

  .modal__close-button {
    position: absolute;
    top: $spacing-xl;
    right: $spacing-xl;
  }

  .modal__neighborhood-info {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
  }
}
