// background
$color-background-primary: #a6d42b;
$color-background-primary-light: #c9e68a;
$color-background-primary-lighter: #d9efb3;
$color-background-primary-lightest: #ecf8da;
$color-background-secondary: #31625a;
$color-background-secondary-light: #4b9b8f;
$color-background-secondary-lighter: #63c4b4;
$color-background-secondary-lightest: #8ed7cb;
$color-background-danger: #f23528;
$color-background-danger-dark: #b2150b;
$color-background-warning: #f2cd12;
$color-background-warning-light: #fff2b0;
$color-background-warning-dark: #a68b08;
$color-background-success: #c9e68a;
$color-background-white: #ffffff;
$color-background-light: #f8f9f8;
$color-background-neutral: #788476;
$color-background-disabled: #e6e9e6;
$color-background-black: #071505;

// border
$color-border-primary: #a6d42b;
$color-border: #e6e9e6;
$color-border-dark: #aab2a9;
$color-border-error: #f23528;
$color-border-success: #a6d42b;
$color-border-focus: #31625a;

// icon
$color-icon-primary: #a6d42b;
$color-icon-secondary: #31625a;
$color-icon-tertiary: #63c4b4;
$color-icon-danger: #f23528;
$color-icon-warning: #f2cd12;
$color-icon-success: #a6d42b;
$color-icon-white: #ffffff;
$color-icon-neutral: #5b6459;
$color-icon-disabled: #aab2a9;

// text
$color-text-primary: #a6d42b;
$color-text-secondary: #31625a;
$color-text-tertiary: #63c4b4;
$color-text-white: #ffffff;
$color-text-neutral: #5b6459;
$color-text-disabled: #aab2a9;
$color-text-black: #071505;
$color-text-danger: #f23528;
$color-text-warning: #f2cd12;
$color-text-success: #a6d42b;

// colors
$green-light-100: #c9e68a;
$green-light-50: #d9efb3;
$green-light-25: #ecf8da;
$blue-light-100: #4b9b8f;
$blue-light-50: #63c4b4;
$blue-light-25: #8ed7cb;
$white: #ffffff;
$gray-light-100: #f8f9f8;
$gray-light-75: #e6e9e6;
$gray-light-50: #aab2a9;
$gray-light-25: #788476;
$gray: #5b6459;
$gray-dark-100: #51594f;
$gray-dark-75: #3f4e3c;
$gray-dark-50: #253521;
$gray-dark-25: #0e180c;
$gray-dark-opacity: #0e180c66;
$black: #071505;
$red: #f23528;
$red-light-100: #ffe1df;
$red-dark-100: #b2150b;
$yellow: #f2cd12;
$yellow-light-100: #fff2b0;
$yellow-dark-100: #a68b08;

// brand
$green-brand: #a6d42b;
$blue-brand: #63c4b4;